<div id='chat'>
	<div class='humano'>
		<span class="material-symbols-outlined interno">account_circle</span>
		<p>Olá, quero pedir que seja adicionado ao site do senac um modo escuro evidente.</p>
	</div>
	<div class='ia'>
		<span class="material-symbols-outlined interno">robot_2</span>
		<p>Apenas para confirmação, é isso a opção de tornar o site mais escuro, certo?</p>
	</div>
	<div class='humano'>
		<span class="material-symbols-outlined interno">account_circle</span>
		<p>Sim</p>
	</div>
	<div class='ia'>
		<span class="material-symbols-outlined interno">robot_2</span>
		<p>Ótimo, obrigado pela recomendação, iremos encaminhá-la ao setor responsável.</p>
	</div>
	<div class='ia'>
		<span class="material-symbols-outlined interno">robot_2</span>
		<p>Chamado concluído</p>
	</div>
</div>
<div id='interacao'>
	<input type="text" id='mensagem' placeholder='Digite sua mensagem'/>
	<span id='botao' class="material-symbols-outlined interno">arrow_upward</span>
</div>
