<div id='chat'>
	<!--
	<div class='human'>
		<span class="material-symbols-outlined innerChat">account_circle</span>
		<p>Olá, quero pedir que seja adicionado ao site do senac um modo escuro evidente.</p>
	</div>
	-->
</div>
<div id='closedInfo'>
	<p id='closedInfoParagraph'></p>
</div>
<div class='centerizer'>
	<button id='closeTicket'>Finalizar chamado</button>
</div>
<div id='messageInput'>
	<input type="text" id='message' placeholder='Digite sua mensagem'/>
	<span id='send' class="material-symbols-outlined innerChat">arrow_upward</span>
</div>
