<!doctype html>
<html lang="pt-br">

	<head>

		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>NextGen</title>
		<link rel="stylesheet" href="default.css"/>
		<link rel="stylesheet" href="main.css"/>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

	</head>
	<body>

		<div id='body'>

			<header>
				<img src='logo.png' alt='logo' id='nextGenLogo'/>
				<h1>NextGen</h1>
				<span class="material-symbols-outlined">account_circle</span>
			</header>	

			<main>
				<h2>Bem vindo(a)</h2>
				<hr/>
				<div id='chamados'>
					<div class='chamado'>
						<div class="img">
							<img src='logoChamado.png' alt='logo' class='logo'/>
						</div>
						<div class="dados">
							<p class='titulo'><b>SENAC - Recomendação</b></p>
							<p class='mensagem'>Obrigado pela recomendação, iremos encaminhá-la ao setor responsável.</p>

						</div>
					</div>
					<div class="chamado">
						<div class="img">
							<img src='logoChamado.png' alt='logo' class='logo'/>
						</div>
						<div class="dados">
							<p class='titulo'><b>SENAC - Recomendação</b></p>
							<p class='mensagem'>Obrigado pela recomendação, iremos encaminhá-la ao setor responsável.</p>

						</div>
					</div>
					<div class="chamado">
						<div class="img">
							<img src='logoChamado.png' alt='logo' class='logo'/>
						</div>
						<div class="dados">
							<p class='titulo'><b>SENAC - Recomendação</b></p>
							<p class='mensagem'>Obrigado pela recomendação, iremos encaminhá-la ao setor responsável.</p>

						</div>
					</div>
				</div>
				<button onclick='criarChamado()'>+</button>
			</main>

			<footer>
				<ul id='contatos'>
					<li>Email: <a class='contato' href='#'>suporte@nextgen.org</a></li>
					<li>Telefone: <a class='contato' href='#'>+55 (81) 9 4002-8922</a></li>
				</ul>
			</footer>

		</div>

		<script src="navegacao.js"></script>
	</body>

</html>
