<div id='chamados'>
	<div class='chamado'>
		<div class="img">
			<img src='logoChamado.png' alt='logo' class='logo'/>
		</div>
		<div class="dados">
			<p class='titulo'><b>SENAC - Recomendação</b></p>
			<p class='mensagem'>Obrigado pela recomendação, iremos encaminhá-la ao setor responsável.</p>

		</div>
	</div>
	<div class="chamado">
		<div class="img">
			<img src='logoChamado.png' alt='logo' class='logo'/>
		</div>
		<div class="dados">
			<p class='titulo'><b>SENAC - Recomendação</b></p>
			<p class='mensagem'>Obrigado pela recomendação, iremos encaminhá-la ao setor responsável.</p>

		</div>
	</div>
	<div class="chamado">
		<div class="img">
			<img src='logoChamado.png' alt='logo' class='logo'/>
		</div>
		<div class="dados">
			<p class='titulo'><b>SENAC - Recomendação</b></p>
			<p class='mensagem'>Obrigado pela recomendação, iremos encaminhá-la ao setor responsável.</p>

		</div>
	</div>
</div>
<button id='goToCreateTickets'>+</button>
