<p>Tipo de chamado:*</p>
<select id='ticketType'>
	<option value="-">-</option>
	<option value="complaint">Reclamação</option>
	<option value="recomendation">Recomendação</option>
	<option value="request">Solicitação</option>
</select>
<p>Empresa:*</p>
<select id='agent'>
	<option value="-">-</option>
</select>
<p>Anexos relevantes</p>
<input type='file' id='fileAttached'/>
<p>Descreva o motivo de seu chamado:</p>
<textarea rows="10" cols="50" id='description'></textarea>
<p id='centerizer'><button id='createTicket'>Criar chamado</button></p>
