# Arquivos de informação dos devs.
debug/*
.env
.htaccess
*.zip
*.txt
*.sql

# Dependências do php
vendor/*
composer.lock

# Dependências do js
node_modules/*
package-lock.json
dist/*
coverage/*

# Arquivos que representam dados
assets/data/users/*
assets/data/ticket_files/*
assets/img/icons/0*
assets/img/icons/1*
assets/img/icons/2*
assets/img/icons/3*
assets/img/icons/4*
assets/img/icons/5*
assets/img/icons/6*
assets/img/icons/7*
assets/img/icons/8*
assets/img/icons/9*

# Informações sensíveis
assets/img/devs/marcela.png
assets/img/devs/crystian.png
assets/img/devs/ilan.png
