# Arquivos de informação dos devs.
debug/*
.env
.htaccess
*.zip
*.txt
*.sql

# Dependências do php
vendor/*
composer.lock

# Dependências do js
node_modules/*
package-lock.json
dist/*
coverage/*

# Arquivos que representam dados
assets/data/users/*
assets/data/clients/*
assets/data/tickets/*
assets/img/icons/*
