.innerChat {
	border-radius: 50%;
	background-color: #006400;
	color: var(--white);
}
#capsula > img {
	border: 1px solid black;
	border-radius: 50%;
	min-width: 39px;
	max-width: 40px;
}
#topo {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: -10px;
}
#topo > .innerChat, #capsula > .innerChat {
	border: none;
	background-color: var(--white);
	color: black;
	margin: 0px;
}
#capsula {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex: 0;
}
#descricao {
	margin: 30px 12px 20px;
}
#chat {
	max-height: 600px;
	min-height: 200px;
	width: 100%;
	overflow-y: auto;
}
#messageInput {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
#messageInput > .innerChat {
	cursor: pointer;
	margin: 0px -10px;
}
input {
	padding: 6px;
	width: 90%;
	border-radius: 10px;
	border: 2px solid gray;
}
.ai, .human {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 10px 0px;
}
.human {
	justify-content: flex-end;
}
.ai > .message, .human > .message {
	border-radius: 8px;
	padding: 8px;
	max-width: 60%;
}
.ai > .message {
	background-color: #888;
}
.human > .innerChat {
	cursor: default;
}
.ai > .innerChat {
	background-color: gray;
	cursor: default;
}
.human > .message {
	background-color: #10AA10;
	order: 1;
}
.human > span {
	order: 2;
}
.messageTime {
	color: rgba(0, 0, 0, 0.6);
	font-size: 12px;
	margin: 6px auto -2px -2px;
}
.fileAttached {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	cursor: pointer;
	padding: 4px;
}
.fileName {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: no-wrap;
}
.fileAttached > span {
	background-color: var(--royal-green);
	color: default;
	border: none;
	pointer-events: none;
}


@media (orientation: portrait) {
	img {
		width: 15%;
	}
}
