/* Reiniciador global */
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

:root {
	--white: #fff;
	--royal-green: #006400;
	--royal-gold: #ffd700;
}

/* Posicionamento das divs */
body, html {
	width: 100%;
	height: 100%;
	background-color: var(--royal-green);
}
#body {
	width: 100%;
	height: 100%;
}
main {
	position: relative;
	width: 40%;
	margin: 50px auto;
	padding: 40px;
	min-height: 80%;
	background-color: var(--white);
	border: 2px solid black;
	border-radius: 10px;
}
header {
	border-bottom: 2px solid var(--royal-gold);
	border-radius: 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
footer {
	padding: 30px;
	border-top: 2px solid var(--royal-gold);
	border-radius: 12px;
}

/* Estilização dos elementos das divs */
.material-symbols-outlined {
	background-color: var(--royal-gold);
	border-radius: 12px;
	border: 2px solid black;
	margin: 8px;
	padding: 4px;
	cursor: pointer;
}
.material-symbols-outlined:hover {
	transform: scale(1.1);
	color: var(--white);
	border: 2px solid var(--white);
	transition: 0.5s;
}
h1 {
	font-size: 48px;
	color: var(--royal-gold);
}
h2 {
	text-align: center;
}
hr {
	margin: 12px;
}
ul {
	list-style-type: none;
	color: var(--white);
	font-weight: bold;
}
.contato {
	color: #add8e6;
}
.contato:visited {
	color: #d8b4fe;
}
header > img {
	margin: 8px;
	width: 5%;
	border: none;
	cursor: pointer;
}
#menu {
	display: none;
	position: fixed;
	right: 10px;
	top: 65px;
	border-radius: 10px;
	border: 2px solid var(--royal-gold);
	padding: 10px;
	background-color: var(--royal-green);
	z-index: 2
}
.menuOption {
	padding: 2px;
	padding-right: 8px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-radius: 10px;
	cursor: pointer;
}
.menuOption:hover {
	border: 1px solid var(--white);
	transform: scale(1.1);
	transition: 0.4s;
	color: var(--royal-gold);
	background-color: var(--royal-green);
}
.menuOption:hover > span {
	color: var(--white);
}
#home {
	position: absolute;
	top: 10px;
	left: 10px;
}

@media (orientation: portrait) {
	main {
		width: 90%;
		padding: 20px;
	}
	header > img {
		width: 15%;
	}
}
