img {
	padding: 12px;
	border-radius: 20px;
	background-color: #006400;
	display: block;
	width: 45%;
	margin: auto;
	margin-bottom: 40px;
}
p {
	margin: 0px 0px 5px 20px;
}
input {
	margin: 0px 0px 15px 20px;
	padding:6px;
	border-radius: 8px;
	width: 80%;
}
input:valid {
	border: 2px solid green;
}
input:invalid {
	border: 2px solid red;
}
button {
	margin: 20px;
	padding: 8px;
	background-color: #006400;
	color: white;
	width: 40%;
	max-width: 300px;
	border-radius: 12px;
	font-weight: bold;
	border: 2px solid white;
}
button:hover {
	transform: scale(1.2);
	transition: 0.4s;
	color: gold;
	border: 2px solid gold;
	cursor: pointer;
}
#check {
	margin: 0px 0px 0px 20px;
	width: auto;
}
#termo, #cadastre-se {
	font-size: 12px;
	margin: 0px;
}
#cadastre-se {
	margin: 20px;
}
#centralizador {
	margin: 0px;
	text-align: center;
}

@media (orientation: portrait) {
	img {
		width: 80%;
	}
}
