#tickets {
	margin: auto;
	width: 95%;
	aspect-ratio: 1/1;
}
.ticket {
	margin: 10px 0px;
	background-color: #eee;
	border-radius: 12px;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
.ticket:hover {
	background-color: #ccc;
	transform: scale(1.1);
	transition: 0.5s;
	cursor: pointer;
}
.imageLogoDiv {
	margin: 10px;
	width: 15%;
	aspect-ratio: 1/1;
	flex-shrink: 0;
}
.imageLogo {
	border-radius: 50%;
	width: 100%;
	height: 100%;
}
.ticketLastMessage {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 6px;
	color: rgba(0, 0, 0, 0.6);
}
button {
	border-radius: 50%;
	background-color: #006400;
	color: var(--white);
	padding: 12px 16px;
	font-size: 20px;
}
button:hover {
	transform: scale(1.2);
	color: gold;
	transition: 0.4s;
	border: 2px solid gold;
}

.open {
	border-left: 5px solid #f80;
}
.closed {
	border-left: 5px solid var(--royal-green);
}

.noTickets {
	background-color: #ddd;
	padding: 20px;
	border-radius: 20px;
	border: 2px solid #999;
}
.noTickets > p {
	text-align: center;
	font-weight: bolder;
	font-size: 18px;
	color: #888;
}
